:host ::ng-deep .p-menubar {
  border: none;
  background: transparent;
}

:host ::ng-deep .p-icon {
  width: 1.5rem;
  height: 1.5rem;
}

/* Estilos comunes */
::ng-deep .responsive-menubar {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

/* Layout vertical en desktop */
@media (min-width: 960px) {
  ::ng-deep .responsive-menubar {
    flex-direction: column !important;
  }

  ::ng-deep .responsive-menubar .p-menubar-root-list {
    flex-direction: column !important;
  }

  ::ng-deep .responsive-menubar .p-menuitem {
    margin-bottom: 0.5rem;
  }
}
