<app-navbar></app-navbar>
<div class="flex flex-col justify-center items-center h-dvh">
  <img src="colibri.svg"
       class="animate-pulse duration-1000 w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 max-w-xs"
       alt="colibri"/>
  <h1 class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl">Coyolicatzin</h1>
  <br>
  <br>
  <div class="flex flex-row">
    <p class="text-xl font-semibold tracking-tight text-balance transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:text-blue-700  text-gray-900 sm:text-2xl p-4"><a href="https://www.facebook.com/colibridelmonte0" target="_blank">Facebook</a></p>
    <p class="text-xl font-semibold tracking-tight text-balance transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:text-rose-600 text-gray-900 sm:text-2xl p-4"><a href="https://www.instagram.com/coyo_licatzin/" target="_blank">Instagram</a></p>
    <p class="text-xl font-semibold tracking-tight text-balance transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:text-cyan-500  text-gray-900 sm:text-2xl p-4"><a href="https://www.tiktok.com/@coyolicatzin1" target="_blank">TikTok</a></p>
  </div>
</div>

<app-footer></app-footer>
