<h1 class="text-2xl font-semibold pb-20 text-gray-900">Contacto</h1>
<p class="text-terniary">
  Para contrataciones, colaboraciones o más información sobre Coyolicatzin, pueden comunicarse directamente con Frida Parra al siguiente correo:
</p>
<a class=" mt-10 rounded-2xl overflow-hidden block shadow"
   (click)="copyEmail()" [pTooltip]="copied ? 'Copiado!': ''"
   [life]="2000" tooltipEvent="focus"
   tooltipPosition="top">
  <div class="flex items-center py-5 px-6 bg-white">
    <span class="text-button flex-1">{{email}}</span>
    <span class="pi pi-copy"></span>
  </div>
</a>
