<h1 class="text-2xl font-semibold pb-20 text-gray-900">Biografía</h1>
<p class="text-terniary">Emma Coyolicatzin Hernández Solórzano, mejor conocida en el ámbito artístico como Coyolicatzin o simplemente “Coyo”, es una cantante y compositora originaria de Ixtepec, Oaxaca. Su herencia zapoteca no solo es una parte esencial de su identidad, sino también una fuente constante de inspiración en su carrera musical.
        Desde muy joven mostró una conexión profunda con la música, lo que la llevó a estudiar flauta transversal durante siete años, cimentando así sus primeros pasos dentro del arte sonoro.</p>
  <div class="pt-20">
    <p-galleria [value]="images" [circular]="true" [showItemNavigators]="true" [showThumbnails]="false">
      <ng-template #item let-item>
        <div>
          <img class="rounded-2xl overflow-hidden" [src]="item.itemImageSrc" />
        </div>
      </ng-template>
    </p-galleria>
  </div>
