<app-navbar></app-navbar>
<div class="flex flex-col justify-center items-center h-dvh">
  <h1 class="text-5xl font-semibold tracking-tight text-balance hover:text-green-600 text-gray-900 sm:text-7xl"><a href="https://open.spotify.com/artist/3jHfcVhLjHbgWXk31SPHmk?si=r4XjOzGmQG2WIfWhd-eHkw" target="_blank">Spotify</a></h1>
  <h1 class="text-7xl font-semibold tracking-tight text-balance hover:text-red-600 text-gray-900 sm:text-9xl"><a href="https://www.youtube.com/@Coyolicatzin" target="_blank">Youtube</a></h1>
  <h1 class="text-3xl font-semibold tracking-tight text-balance hover:text-rose-500 text-gray-900 sm:text-5xl"><a href="https://music.apple.com/mx/artist/coyo-licatzin/1540274881" target="_blank">Apple Music</a></h1>

</div>
<app-footer></app-footer>
